version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: misa-service-client-app
    ports:
      - ${APP_PORT:-8082}:80
    environment:
      - NODE_ENV=production
    restart: unless-stopped